{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#articles" data-toggle="tab">Produits</a></li>
            <li><a href="#comments" data-toggle="tab">Categories</a></li>
            <li><a href="#users" data-toggle="tab">Utilisateurs</a></li>
        </ul>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane fade in active adminTable" id="articles">
        {% if products %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Catégorie</th>
                        <th>Prix</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                </thead>
                {% for product in products %}
                <tr>
                    <td>
                        <a class="productTitle" href="{#{{ path('product', { 'id': product.id }) }}#}" > {{ product.name }}</a></td>
                    <td>{{ product.shortdescription | truncate(60) }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.price |number_format(2, '.', ',') }}€</td>
                    <td>
                        <a href="{{ path('admin_product_edit', { 'id': product.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#productDialog{{ product.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="productDialog{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation de suppression</h4>
                                    </div>
                                    <div class="modal-body">
                                        Etes-vous sûr de supprimer ce produit ?                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        <a href="{{ path('admin_product_delete', { 'id': product.id }) }}" class="btn btn-danger">Oui</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">No products found.</div>
        {% endif %}
        <a href="{{ path('admin_product_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un nouveau produit</button></a>
    </div>
    <div class="tab-pane fade adminTable" id="comments">
        <!-- TODO : insérer ici le code de gestion des commentaires -->
    </div>
    <div class="tab-pane fade adminTable" id="users">
        <!-- TODO : insérer ici le code de gestion des utilisateurs -->
    </div>
</div>
{% endblock %}
