{% extends "layout.html.twig" %} {% block title %}{{category.name}}{% endblock %} 

{% block menu %}
{% for category in categories %}
<li>
    <a href="{{ path('category', {'id': category.id}) }}"><i class=" fa fa-cog "></i>{{ category.name }}</a>
</li>
{% endfor %} 
{% endblock %}

{% block number %}
{{ number }}
{% endblock %}

{% block content %}

<article>   
    <h1 class="titre">{{ category.name }}</h1>
    {% set cpt = 1 %}
    {% for product in products %}   
    {% if cpt%3==0 %}
    <div class="row">
        {% endif %}
        <div class="col-md-4">
            <div class="thumbnail text-center">
                <a href="{{ path('product', {'id': product.id}) }}">
                    <img src="{{asset('/img/'~product.image)}}" width="200" height="200" alt="Image!" class="img-thumbnail img-responsive" />
                </a>
                <h3>{{product.name}}</h3>
                {{product.shortdescription}}
                <br/>
                <h4><span class="label label-danger">{{product.price}}€</span></h4>
            </div>
        </div>
        {% if cpt%3==0 %}
    </div>
    {% endif %}
    {% set cpt=cpt+1 %}
    {% else %} 
    <div class="text-center">
        <strong>Cette catégorie ne possède pas de produit.</strong> 
    </div>
    {% endfor %}
    </div>    
</article>
{% endblock %}