{% extends "layout.html.twig" %} {% block title %}Home{% endblock %} {% block menu %} {% for category in categories %}
<li>
    <a href="/category/{{ category.id }}"><i class=" fa fa-cog "></i>{{ category.name }}</a>
</li>
{% endfor %} {% endblock %}{% block content %}
<article>
    <h1 class="titre">{{ category.name }}</h1>
    <h2 class="sous-titre">Products</h2> 
    {% for product in products %}   
    <div class="jumbotron"> 
        <div class="row">
            <div class="col-md-2">
                <img src="{{asset('/img/'~product.image)}}" alt="Image!" class="img-thumbnail" width=150>
            </div>
            <h3><a href="/product/{{product.id}}">{{ product.name }}</a></h3>

            <strong>{{ product.shortdescription }}</strong>
            <strong>{{ product.price }}</strong>
        </div>
    </div>       
    {% else %} No products yet. {% endfor %}
</article>
{% endblock %}