{% extends "layout.html.twig" %} {% block title %}Home{% endblock %} {% block content %}
<article>
    <p>
        <h2>{{ category.name }}</h2>
        <h3>Products</h3> {% for product in products %}
        <strong>{{ product.name }}</strong>
        <strong>{{ product.shortdescription }}</strong>
        <strong>{{ product.longdescription }}</strong>
        <strong>{{ product.price }}</strong>
        <br> {% else %} No products yet. {% endfor %}
    </p>
</article>
{% endblock %}