<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="{{ app.request.basepath }}/lib/jquery/jquery.min.js"></script>
        <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
        <link href="{{ app.request.basepath }}/css/soundify.css" rel="stylesheet">
        <title>Soundify - {% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('home') }}">Soundify</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-target">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Catégories <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% block menu %} {% endblock %}
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if app.user and is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                            <li>
                                <a>
                                    <button class="btn btn-info btn-xs" type="button" >
                                        <span class="glyphicon glyphicon-shopping-cart"></span> Votre Panier <span class="badge">0</span>
                                    </button>
                                </a>
                            </li>
                            {% endif %}
                            {% if app.user and is_granted('ROLE_ADMIN') %}
                            <li class="{% if adminMenu is defined %}active{% endif %}"><a href="{{ path('admin') }}"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
                            {% endif %}
                            {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span> Bienvenue, {{ app.user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span> Hors-Ligne <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('login') }}">Authentification</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <!-- /.container -->

            </nav>
            <div id="content">{% block content %}{% endblock %}</div>
            <script type="text/javascript">
                $('.carousel[data-type="multi"] .item').each(function(){
                    var next = $(this).next();
                    if (!next.length) {
                        next = $(this).siblings(':first');
                    }
                    next.children(':first-child').clone().appendTo($(this));
                    for (var i=0;i<2;i++) {
                        next=next.next();
                        if (!next.length) {
                            next = $(this).siblings(':first');
                        }
                        next.children(':first-child').clone().appendTo($(this));
                    }
                });
            </script>
            <footer class="footer">
                <div class="container">
                    <p class="center"><span class="glyphicon glyphicon-copyright-mark"></span> {{ "now"|date("M Y") }} - Soundify</p>
                </div>
            </footer>
        </div>
    </body>

</html>