{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block menu %}
{% for category in categories %}
<li>
    <a href="/category/{{ category.id }}"><i class=" fa fa-cog "></i>{{ category.name }}</a>
</li>
{% endfor %} 
{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<div class="well">
{{ form_start(productForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        {{ form_label(productForm.name, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(productForm.name) }}
            {{ form_widget(productForm.name, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(productForm.shortdescription, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(productForm.shortdescription) }}
            {{ form_widget(productForm.shortdescription, { 'attr':  {
                'class': 'form-control',
                'rows': '4'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(productForm.longdescription, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(productForm.longdescription) }}
            {{ form_widget(productForm.longdescription, { 'attr':  {
                'class': 'form-control',
                'rows': '8'
            }}) }}
        </div>
    </div>
   <div class="form-group">
        {{ form_label(productForm.price, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(productForm.price) }}
            {{ form_widget(productForm.price, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
          {% if productForm.image  is defined %}
   <div class="form-group">
        {{ form_label(productForm.image, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(productForm.image) }}
            {{ form_widget(productForm.image, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
        {% endif %}
    <div class="form-group">
        {{ form_label(productForm.category, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(productForm.category) }}
            {{ form_widget(productForm.category,{ 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-3">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </div>
{{ form_end(productForm) }}
</div>
{% endblock %}