{% extends "layout.html.twig" %} 
{% block title %}Home{% endblock %}

{% block menu %}
{% for category in categories %}
<li>
    <a href="/category/{{ category.id }}"><i class=" fa fa-cog "></i>{{ category.name }}</a>
</li>
{% endfor %}
{% endblock %}

{% block number %}
{{ number }}
{% endblock %}

{% block content %}
<article>
    <div class="well row">
        <img class="col-md-6 thumbnail img-responsive" src="{{asset('/img/'~product.image)}}"/>
        <div class="col-md-6 text-right">
            <h1>{{product.name}}</h1>
            <p>{{product.longdescription}}</p>
            <p><u>Prix:</u> <span class="badge">{{product.price}}€</span></p>
            <a href="/cart/{{product.id}}/add" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter au panier</a>
        </div>
    </div>
</article>
{% endblock %}