{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block menu %}
{% for category in categories %}
<li>
    <a href="/category/{{ category.id }}"><i class=" fa fa-cog "></i>{{ category.name }}</a>
</li>
{% endfor %} 
{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
{% if form_errors(userForm.password.first) %}
<div class="alert alert-danger">
    {{ form_errors(userForm.password.first) }}
</div>
{% endif %}

<div class="well">
    {{ form_start(userForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        {{ form_label(userForm.name, null, { 'label_attr':  {
        'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.name) }}
            {{ form_widget(userForm.name, { 'attr':  {
            'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.firstname, null, { 'label_attr':  {
        'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.firstname) }}
            {{ form_widget(userForm.firstname, { 'attr':  {
            'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.address, null, { 'label_attr':  {
        'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.address) }}
            {{ form_widget(userForm.address, { 'attr':  {
            'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.zipcode, null, { 'label_attr':  {
        'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.zipcode) }}
            {{ form_widget(userForm.zipcode, { 'attr':  {
            'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.username, null, { 'label_attr':  {
        'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.username) }}
            {{ form_widget(userForm.username, { 'attr':  {
            'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.password.first, null, { 'label_attr':  {
        'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_widget(userForm.password.first, { 'attr':  {
            'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.password.second, null, { 'label_attr':  {
        'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_widget(userForm.password.second, { 'attr':  {
            'class': 'form-control'
            }}) }}
        </div>
    </div>
    {% if not (app.user and is_granted('ROLE_ADMIN')) %}
    <div class="hidden">
        {% endif %}

        <div class="form-group">
            {{ form_label(userForm.role, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
            }}) }}

            <div class="col-sm-2">
                {{ form_errors(userForm.role) }}
                {{ form_widget(userForm.role, {'value' : 'ROLE_USER','attr':  {
                'class': 'form-control'
                }}) }}

            </div>
        </div>
    {% if not (app.user and is_granted('ROLE_ADMIN')) %}
    </div>
    {% endif %}
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-3">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </div>
    {{ form_end(userForm) }}
</div>
{% endblock %}